/* REGOLE GENERALI */
* {
  left: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

/* NAV FISSO */
/* ------------ NAV LEFT ----------- */
.navfixleft {
  height: 100px;
  width: 100%;
  position: fixed;
  /* degug */
  background-color: lightgrey;
}

.navfixcontentleft {
  padding: 38px 20px;
  padding-left: 15%;
  height: 20px;
  /* background: pink; */

}

.linavfixleft li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;

}

i {
  padding-right: 15px;
}

#english {
  padding-right: 28px;
}

#contact {
  padding-left: 30px;
  border-left: grey solid 2px;
}


/* ------------ NAV RIGHT ----------- */

.navright {
  float: right;
  padding: 0 20%;
}

#login {
  border: solid orange 2px;
  border-radius: 10%;
  background-color: white;
  padding: 10px;
}

#gethub {
  background-color: orange;
  color: white;
  padding: 12px;
  border-radius: 4%;
}


/* BARRA NAV MENU */

.navconteiner {
  height: 200px;
  width: 100%;

  /* debug */
  /* background-color: white; */
}

.navcontent {
background-color: lightpink;
height: 300px;
width: 90%;
margin-left: 5%;
padding-top: 8%;
padding-left: 2%;
background-image: url(img/HSLogo.svg);
background-repeat: no-repeat;
}

navconteiner::after {
  content: "";
  display: table;
  clear: both;
}









/* 1° BLOCCO JUMBOTRON */

.jumbocontainer {
  height: 700px;
  width: 100%;
  background-image: url(img/jumbocoso.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black 4px;
  /* debug */

}

.jumbocontent {
  height: 300px;
  width: 25%;
  /* debug */
  border: solid black 4px;
  background-color: white;
}
/* 2° BLOCCO CENTRALE */

.centralblock {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: green;
}

/* 3° BLOCCO */

.block3 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: pink;
}

/* 4° BLOCCO */

.block4 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: violet;
}

/* FOOTER */

.footer {
  height: 400px;
  width: 100%;
  /* debug */
  background-color: lightgreen;
}
