/* REGOLE GENERALI */
* {
  left: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

nav::after {
  content: "";
  display: table;
  clear: both;
}

/* NAV FISSO */
/* ------------ NAV LEFT ----------- */
.navfixleft {
  height: 100px;
  width: 100%;
  position: fixed;
  /* degug */
  background-color: lightgrey;
}

.navfixcontentleft {
  padding: 38px 20px;
  padding-left: 15%;
}

.linavfixleft li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;
}

#english {
  padding-right: 28px;
}

#contact {
  padding-left: 30px;
  border-left: grey solid 2px;
}

/* ------------ NAV RIGHT ----------- */




























/* BARRA NAV MENU */

.navconteiner {
  height: 200px;
  width: 100%;
  /* debug */
  background-color: blue;
}

/* 1° BLOCCO JUMBOTRON */

.jumbocontainer {
  height: 700px;
  width: 100%;
  background-image: url(img/jumbocoso.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* debug */

}

.jumbocontent {

}
/* 2° BLOCCO CENTRALE */

.centralblock {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: green;
}

/* 3° BLOCCO */

.block3 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: pink;
}

/* 4° BLOCCO */

.block4 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: violet;
}

/* FOOTER */

.footer {
  height: 400px;
  width: 100%;
  /* debug */
  background-color: lightgreen;
}
