/* REGOLE GENERALI */
* {
  left: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: helvetica;
}

navfixconteiner::after {
  content: "";
  display: table;
  clear: both;
}


/* NAV FISSO */
/* ------------ NAV LEFT ----------- */
.navfixconteiner {
  height: 100px;
  width: 100%;
  padding: 20px 200px;
  position: fixed;
  /* degug */
  background-color: rgb(222, 243, 250);
  /* border: solid black 2px; */
}

.navfixcontentleft {
  height: 50px;
  width: 25%;
  float: left;
  padding-top: 12px;
  /* debug */
  /* border: solid black 1px; */
  /* background: pink; */

}

.linavfixleft li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;

}

i {
  padding-right: 10px;
}

#english {
  padding-right: 10px;
}

#contact {
  padding-left: 10px;
  border-left: grey solid 2px;
}


/* ------------ NAV RIGHT ----------- */

.navcontentright {
  height: 50px;
  float: right;
  /* debug */
  /* background-color: pink;
  border: solid black 1px; */
}

.linavfixright li {
  display: inline-block;
  list-style-type: none;
  font-size: 20px;

}

#login {
  border: solid orange 2px;
  border-radius: 10%;
  background-color: white;
  padding: 5px;
}

#gethub {
  background-color: orange;
  color: white;
  padding: 12px;
  border-radius: 4%;
}


/* BARRA NAV MENU */

.navconteiner {
  height: 200px;
  width: 100%;
  padding-top: 100px;
  /* debug */
  background-color: red;
}

.navcontentleft {
  height: 50px;
  width: 25%;
  /* debug */
  background-color: pink;
}








/* 1° BLOCCO JUMBOTRON */

.jumbocontainer {
  height: 700px;
  width: 100%;
  background-image: url(img/jumbocoso.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10%
  /* debug */
  border: solid black 4px;
}

.jumbocontent {
  height: 300px;
  width: 25%;
  /* debug */
  border: solid black 4px;
  background-color: white;
}
/* 2° BLOCCO CENTRALE */

.centralblock {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: green;
}

/* 3° BLOCCO */

.block3 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: pink;
}

/* 4° BLOCCO */

.block4 {
  height: 600px;
  width: 100%;
  /* debug */
  background-color: violet;
}

/* FOOTER */

.footer {
  height: 400px;
  width: 100%;
  /* debug */
  background-color: lightgreen;
}
